In [1]:
# Dependencies
import pandas as pd
import numpy as np

In [2]:
# Name of the CSV file
file = 'data/tax/2014.csv'

In [3]:
# The correct encoding must be used to read the CSV in pandas
df_tax = pd.read_csv(file, encoding="ISO-8859-1")

In [4]:
# Preview of the DataFrame
# Note that FIELD8 is likely a meaningless column
df_tax.head()

,statefips,state,zipcode,agi_stub,n1,mars1,mars2,mars4,prep,n2,...,a10300,n85530,a85530,n85300,a85300,n11901,a11901,n11902,a11902,year
0,1,AL,0,1,850050,481840,115070,240450,479900,1401930,...,324575,0,0,0,0,62690,47433,744910,1964826,2014
1,1,AL,0,2,491370,200750,150290,125560,281350,1016010,...,950446,0,0,0,0,70780,101969,413790,1177400,2014
2,1,AL,0,3,259540,75820,142970,34070,156720,589190,...,1319641,0,0,0,0,62170,132373,192050,538160,2014
3,1,AL,0,4,164840,26730,125410,10390,99750,423300,...,1394913,0,0,0,0,45120,124048,115470,375882,2014
4,1,AL,0,5,203650,18990,177070,5860,122670,565930,...,3655700,610,135,270,66,81180,387298,114380,448442,2014